In [0]:
%matplotlib inline
import os
import math
import IPython
import sqlite3 as sql3
import time as t
import numpy as np
import pandas as pd
from sys import version
import matplotlib.pyplot as plt
import matplotlib as mpl 
#os.chdir('C:\\Users\\Suso')
print('='*70)
print('Python version:     ' + version)
print('Numpy version:      ' + np.__version__)
print('Pandas version:     ' + pd.__version__)
print('Matplotlib ver:     ' + mpl.__version__)
print('SQLite version:     ' + sql3.version)
print('IPython version:    ' + IPython.__version__)
direct = %pwd
print('Working directory:  ' + direct)
print('='*70)
now = t.asctime()
print('Today is ' + now + ' ... AND WE ARE READY TO GO!! ')
print('='*70)

======================================================================
Python version:     3.6.8 (default, Jan 14 2019, 11:02:34)
[GCC 8.0.1 20180414 (experimental) [trunk revision 259383]]
Numpy version:      1.16.5
Pandas version:     0.24.2
Matplotlib ver:     3.0.3
SQLite version:     2.6.0
IPython version:    5.5.0
Working directory:  /content
======================================================================
Today is Thu Oct  3 21:40:54 2019 ... AND WE ARE READY TO GO!!
======================================================================

In [0]:

db = sql3.connect('data.db')

with db:
    c = db.cursor()
    c.execute('SELECT SQLITE_VERSION()')
    data = c.fetchone()
    print("SQLite version: %s" % data)

SQLite version: 3.22.0

In [0]:
c = db.cursor()

In [0]:
c.execute('CREATE TABLE test (i INTEGER, j TEXT)')

In [0]:
n = 5
m = 'some text' 

c.execute('INSERT INTO test(i,j) VALUES (?,?)', (n,m))

In [0]:
con = sql3.connect('test.db')

with con:
    
    cur = con.cursor()
    cur.execute("DROP TABLE IF EXISTS Cars")    
    cur.execute("CREATE TABLE Cars(Id INT, Name TEXT, Price INT)")
    cur.execute("INSERT INTO Cars VALUES(1,'Audi',52642)")
    cur.execute("INSERT INTO Cars VALUES(2,'Mercedes',57127)")
    cur.execute("INSERT INTO Cars VALUES(3,'Skoda',9000)")
    cur.execute("INSERT INTO Cars VALUES(4,'Volvo',29000)")
    cur.execute("INSERT INTO Cars VALUES(5,'Bentley',350000)")
    cur.execute("INSERT INTO Cars VALUES(6,'Citroen',21000)")
    cur.execute("INSERT INTO Cars VALUES(7,'Hummer',41400)")
    cur.execute("INSERT INTO Cars VALUES(8,'Volkswagen',21600)")

In [0]:
con = sql3.connect('test.db')
cur = con.cursor()

cur.execute('SELECT * FROM Cars where Name = "Volvo"')

rows = cur.fetchall()
for row in rows:
    print(row)
    
# or, you can do also: 
# print cur.fetchall()

(4, 'Volvo', 29000)

In [0]:
con = sql3.connect('test.db')
cur = con.cursor()

cur.execute('SELECT * FROM Cars')
record = cur.fetchone()

while record:
    print(record)
    record = cur.fetchone()

(1, 'Audi', 52642)
(2, 'Mercedes', 57127)
(3, 'Skoda', 9000)
(4, 'Volvo', 29000)
(5, 'Bentley', 350000)
(6, 'Citroen', 21000)
(7, 'Hummer', 41400)
(8, 'Volkswagen', 21600)

In [0]:
con = sql3.connect('test.db')

with con:
    
    cur = con.cursor()    
    cur.execute('SELECT * FROM Cars')
    
    col_names = [cn[0] for cn in cur.description]
    
    rows = cur.fetchall()
    
    print "%-5s %-15s %s" % (col_names[0], col_names[1], col_names[2])

    for row in rows:    
        print("%-5s %-15s %s" % row)

SyntaxError: ignored